
<table>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Celular</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 1; i <= 8; i++ ) { %>
      <tr>
        <td><%= i %></td>
        <td>NOME</td>
        <td>EMAIL</td>
        <td>CELULAR</td>
      </tr>
     <% } %>
  </tbody>
</table>