<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atividade formulário</title>

    <!-- Link CSS externo -->
    <link
      rel="stylesheet"
      href="/static/styles/styles.css"
      class="stylesheet"
    />

    <!-- Link JS externo -->
    <script src="/static/scripts/scripts.js" defer></script>
  </head>
  <body>
    <%- include("menu") %>
    <section class="container">
      <div class="image_container">
        <h1>Sobre a empresa</h1>
        <p>
          Compartilhe suas aventuras e <br />
          descubra novos lugares ao redor do mundo!
        </p>
      </div>
      <div><%- include("usertable") %></div>
    </section>
    <%- include("rodape") %>
  </body>
</html>
